@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    background-color: #f8f7f4;
}

#logo {
    font-family: "EB Garamond", serif;
}

playfair-font {
    font-family: "EB Garamond", serif;
    font-weight: 400;
}

body,
div,
h1,
p,
a {
    background-color: transparent !important;
}

.shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
